@font-face {
  font-family: Voice;
  src: url(./fonts/Voice\ In\ My\ Head.otf);

  font-family: Modern Machine Regular;
  src: url(./fonts/Modern\ Machine/Modern-Machine-Regular.otf);

  font-family: Febero Regular;
  src: url(./fonts/Febero/Febrero-Regular.otf);

  font-family: Comfortaa Regular;
  src: url(./fonts/Comfortaa/Comfortaa-Regular.ttf);

  font-family: Typo Round Regular;
  src: url(./fonts/Typo\ Round/Typo_Round_Regular.otf);
}

.App {
  --height : 72px;
  --plus-height : 65px; 
  --footer-height: 90px;
  text-align: center;
  
}

.App a{
  text-decoration: none;
  color: white;
}



.navbar{
  
  z-index: 30;
  justify-content: center;
  background-color: black;
  position: fixed;
  overflow: hidden;
  top: 0;
  align-items: center;
  width: 100%;
  height: var(--height);
  color: white;
  filter: drop-shadow(5px 5px 5px #222);
  transform: translatey(0px);
  transition: transform 0.6s ease;
}



.heightDiv{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: var(--height);
  max-width: 1080px;
}

#navbar-logo{
  height: var(--height);
  width: unset;
}


.plus-div{

  border-radius: 50%;
  height: var(--plus-height);
  width: var(--plus-height);
  background-color: white;
  transform: scale(0.7);
  align-items: center;
  justify-content: center;
  display: flex;
} 


@keyframes float {
  0% {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transform: translatey(0px);
  }

  50% {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transform: translatey(-20px);
  }

  100% {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transform: translatey(0px);
  }
}

.homepage-img {
  height: 30rem;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;

}

.main{
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  
  margin-top: 6rem;
  margin-bottom: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

#floatLeftMiddle{
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
}

#floatLeftMiddle a{
  color: black;
}



.footer{
	display: flex;
	align-items: center;
  	justify-content: center;
	background-color: #000;
	height: var(--footer-height);
	color: #fff;
	overflow: hidden;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 10px;
}

.footer div{
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




#navbar-logo-v2{
  height: var(--height);
  width: unset;
  display: none;
}



.h-info{

  border: none;
  border-radius: 15px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: transparent;
  font-family: Typo Round Regular;
  font-size: larger;
  margin-bottom: 2rem;
}

.h-info a{
  color: black;
  text-decoration: none;
}

#BigFont {
  font-size: xx-large;
}




.profiles-carusel {
  font-family: Typo Round Regular;
  background-color: transparent;
  width: -webkit-fill-available;
  color: black;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.slider-radios{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 65px;
  z-index: 20;
}


#website-width {
  background-color: black;
  border: 2px solid black;
  border-radius: 90px;
  width: 35rem;
}

#dot{
  height: 3px;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}


.profiles-div{
  transform: scale(1.2);
  max-width: 1080px;
  display: flex ;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}




@media only screen and (max-width: 800px) {
  #navbar-logo {
    display: none;
  }

  #navbar-logo-v2 {
    transform: scale();
    display: initial;
  }

  .h-info {
    background-color: transparent;
    color: black;
    border: none;
    transform: scale(0.8);
    margin-bottom: -2rem;
  }

  .h-info a{
    color: black;
  }

  .main {
    flex-direction: column;
    margin-bottom: 10rem;
  }

  #website-width{
    width: 77%;
        
  }

  .profiles-div {
    transform: scale(0.8);
  }

  
 
}

@media only screen and (max-width: 600px) {
  #navbar-logo {
    display: none;
  }

  #navbar-logo-v2 {
    transform: scale();
    display: initial;
  }

  .h-info {
    background-color: transparent;
    color: black;
    border: none;
    transform: scale(0.8);
    margin-bottom: -2rem;
  }

  .h-info a {
    color: black;
  }

  .main {
    flex-direction: column;
    margin-bottom: 10rem;
  }

  #website-width {
    width: 77%;

  }

  .profiles-div {
    transform: scale(0.6);
  }



}